body {
  font-family: sans-serif;
}

.container {
  display: flex;
}

.map-area {
  width: 65%;
  border: 1px solid #999;
}

.control {
  width: 35%;
  padding: 10px;
}

svg path {
  fill: #E0E0E0;
  stroke: #333;
  cursor: pointer;
}

.info {
  margin-top: 10px;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}
